<div class="card-wrapper">
  <div class="line-numbers">
    <span>134</span><span>135</span><span>136</span><span>137</span><span>138</span><span>139</span><span>140</span>
    <span>141</span><span>142</span><span>143</span><span>144</span><span>145</span>
    <span>146</span><span>147</span><span>148</span><span>149</span><span>150</span>
  </div>
  <div class="card-info">
    <div class="card-comment">/* Hi! My name is */</div>
    <div class="card-style-class">
      <span class="card-class">#frontend-engineer.</span>
      <span class="card-element">name {</span>
    </div>
    <div class="card-name">Eduardo Silva</div>
    <div class="card-close-braces">}</div>
  </div>
</div>
